{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "prettier",
    "@typescript-eslint",
    "unused-imports"
  ],
  "extends": [
    "next",
    "next/core-web-vitals",
    "plugin:@next/next/recommended",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:storybook/recommended",
    "plugin:prettier/recommended"
  ],
  "globals": {
    "React": "readonly"
  },
  "overrides": [
    {
      "files": ["*.stories.@(ts|tsx|js|jsx|mjs|cjs)"],
      "rules": {
        // example of overriding a rule
        "storybook/hierarchy-separator": "error"
      }
    }
  ],
  "rules": {
    "react/no-unknown-property": ["error", { "ignore": ["css"] }],
    "react/self-closing-comp": ["error", { "component": true, "html": true }],
    "react/display-name": "off",
    "no-unused-vars": "off",
    "unused-imports/no-unused-imports": "error",
    "react/prop-types": 0,
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ]
  }
}